.route-control-container__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.route-control-container--clear-btn {
  height: 20px;
  margin-left: 10px;
}

.route-control-container--focus-btn {
  height: 20px;
  margin-left: 5px;
}
