.route-input-container__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.route-input-container--clear-btn {
  height: 20px;
  margin-left: 10px;
}

.route-input-container--focus-btn {
  height: 20px;
  margin-left: 5px;
}

.route-input-container__reset-btn {
  margin-right: 5px;
}

.route-input-container__main-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}
